@import './css/variables';
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input{
    position: relative;   
    &[type=checkbox]{           
        margin-right: 1vw;
        &::after{
            content: '';
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;        
            background-color: #594ae4;
            border-radius: 5px;         
                 
        }
        &::before{
            content: '\2714';
            position: absolute;
            font-size: 80%;
            color: #ffffff;
            z-index:99999;
            top:50%;
            left: 50%;
            transform: translate(0,0) scale(0)  rotate(180deg);
            transition: .2s transform linear;
        }
        &:checked::before{
            transform: translate(-50%,-50%) scale(1) rotate(0);
        }
        
    }

}


body{
    background-image: url('./img/fabric_1.png');  
    font-family: 'Hammersmith One', sans-serif;
    font-size: .8vw;
    
}



header{
    height: 30vh;       
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    
    .form-main{    
       flex-basis: 90%;
       min-height: 60vh;
       border-top:.2vh solid $color-border ;
       border-bottom:.2vh solid $color-border ;
       display: flex;
       flex-direction: column;
       align-items: flex-end;
       &.div-center{
           font-size: 3em;
           justify-content: center;
           align-items: center;
       }

       .form-part{                   
           font-size: 2em;
           display: flex;
           width: 100%;
           justify-content: center;   
           align-items: center;        
           min-height: 10vh;
           margin: 5vh 0;
            .inputData{                                              
               background-color: inherit;
               border:none;
               border-bottom: #594ae4 solid 2px;
               color: $color-border;
               font-weight: bold;
               color: #594ae4;
               transform: translateX(0) scale(1);
               opacity: .5;
               transition: opacity .5s ease , transform .5s ease;
               outline: none;
               &:focus{
                   transform: translateX(2vw) scale(1.2);
                   opacity: 1;
               }
                
                
            }
            .part{
                margin-left: 2vw;  
                width: 14vw;
                height: 2.5vw;
                display: flex;   
                
                &[type=checkbox] {
                    width: 2.5vw;
                    height: 2.5vw;
                    margin-right: 10vw;
                    margin-left: 3.5vw;
                    font-size: 1.5em
                } 
                        
                
                &.clearfix{
                    flex-direction: column;
                    align-self: flex-start
                }
                
                label{
                    margin-bottom: .5vw;
                    
                }
            }
            .label{
                border-right: .3vh solid $color-border;
                padding: 4vw;
                width: 30vw;
                
            }
            
          
       }
       
       .btnSend{
        padding: 1.2vw;
        font-size: 1.5em;
        background-color:#594ae4;
        border: none;
        font-weight: bold;
        cursor: pointer;
        color: #ffffff;
        border-radius: 8px;
        align-self: center;
        margin: 12vh 0;
        }
    }
}

footer{
    height: 10vh;
    color: $color-border;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}